//base sass file
@import 'util/resets'
@import 'util/variables'
@import 'util/shadow'
@import 'util/animation'
@import 'util/name'
@import 'util/grid'
@import 'util/mixins'
@import 'contact'
@import 'about'
@import 'projects'
@import 'skills'
@import 'util/transformations'

body
  background-color: $blue
  font-family: $font
  color: $white
