.projects-container
  @include box-format($red)
  width: 500px
  height: 330px
  top: 25px
  right: 0
  color: $dark-red

.roni
  stroke: $dark-red
  fill: $dark-red
  stroke-miterlimit: 10

.pizza-outline
  fill: none
  stroke: $dark-red
  stroke-width: 4
  stroke-linecap: round
  stroke-linejoin: round
  stroke-miterlimit: 10

.pizza-container
  transform: scale(.3)
  transform-origin: top left
  height: 330px

.graph-line
  fill: none
  stroke: $dark-red
  stroke-width: 7
  stroke-miterlimit: 10

#pizza
  position: absolute
  top: 35%
  left: 15%

.expand-projects:hover #js
  @include skill-animation

#graph
  position: absolute
  top: 35%
  right: -20%

.expand-projects
  position: absolute
  bottom: 10px
  right: 15px
  font-size: 18px
  cursor: pointer

.project-contents
  opacity: 0
  animation: fade 1s forwards ease-in 1.25s

.shrink-projects
  opacity: 0
  animation: fade 1s forwards ease-in 1.25s
  position: absolute
  right: 20px
  font-size: 18px
  cursor: pointer
  top: 15px

.taco-st0
  fill: none
.taco-st1
  fill: $dark-red
