.skills-container
  @include box-format($purple)
  width: 600px
  height: 210px
  bottom: 0
  right: 0
  color: $dark-purple

.colored
  font-size: 55px
  transition: .85s
  position: relative
  // animation: fade-down 1s ease-out
  color: $dark-purple !important

// .colored:hover
//   @include skill-animation
