.grid
  margin: 5px auto
  width: 1000px
  height: 600px
  position: relative

.row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  margin-top: 15px
