@keyframes raise-up
  0%
    opacity: 0
    box-shadow: 0 3px 6px rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0)
  50%
    opacity: 1
  75%
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  100%
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    opacity: 1

@keyframes shrink-position-contact
  0%
    transform: scale(1)
  100%
    transform: scale(.75) translate(-103px, 55px)

@keyframes shrink-position-skills
  0%
    transform: scale(1)
  100%
    transform: scale(.75) translate(104px, -500px)
    width: 160px
    height: 60px

@keyframes shrink-position-about
  0%
    transform: scale(1)
  100%
    transform: scale(.75) translate(1225px, 100px)
    width: 160px
    height: 60px
