.name
  position: relative
  top: 4%
  left: 4%
  font-size: $large
  margin: 0

.box-header
  margin-top: 10px
  margin-left: 15px

.bottom-boarder
  height: 4px
  background-color: $white
  border-radius: 10%
  margin-left: 15px
  transition: 2s

.textDimensionCalculation
    position: absolute
    visibility: hidden
    height: auto
    width: auto
    white-space: nowrap
