.scale-shrink-contact
  transform-origin: center
  animation: shrink-position-contact 1.5s forwards ease-in
  z-index: 1

.shrink
  transform-origin: center
  transform: scale(0)
  transition: 1.5s

.scale-offset-skills
  transform-origin: center
  animation: shrink-position-skills 1.5s forwards ease-in
  z-index: 1

.expand-contact
  animation: expand-contact-home 1.5s forwards ease-in
  transform-origin: center

.expand-skills
  animation: expand-skills-home 1.5s forwards ease-in
  transform-origin: center

// .scale-shrink-projects
//   transform-origin: center
//   animation: shrink-position-projects 1.5s forwards ease-in
//   z-index: 1

.expand
  width: 1000px
  height: 575px
  transition: 2s
